[submodule "sim/openFrameworks"]
	path = sim/openFrameworks
	url = https://github.com/openframeworks/openFrameworks.git
[submodule "OctoWS2811"]
	path = OctoWS2811
	url = git@github.com:PaulStoffregen/OctoWS2811.git
